!!!5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1'}

    %title
      - if current_page.data.title
        = "#{current_page.data.title} - Aroid"
      - else
        Aroid

    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'

  %body
    %nav
      = link_to 'Aroid', '/'
      = link_to 'Privacy', '/privacy'
    = yield
